<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title> AgDataBox Menu</title>

    <link rel="stylesheet" href="../styles/main-style.css">
    <link rel="stylesheet" href="../styles/page-menu.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

</head>

<header id="nav-bar">
    <div class="nav-bar-content">
        <img src="/images/icons/back.svg" alt="Voltar">
        <div class="nav-bar-title">
            <h2>barra de navegacao</h2>
        </div>
    </div>
</header>

<main id="container-background">
    <div class="container-menu">
        <div class="area-container">
            <div class="area" href="/area">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">Area</text>
                </svg>
            </div>
        </div>
        <div class="safra-container">
            <a class="safra" href="/safra">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">safra</text>
                </svg>
            </a>
        </div>

        <div class="operacao-container">
            <a class="operacao" href="/operacao">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">operacao</text>
                </svg>
            </a>
        </div>

        <div class="ocorrencia-container">
            <a class="ocorrencia" href="/ocorrencia">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">ocorrencia</text>
                </svg>
            </a>
        </div>

        <div class="maquina-container">
            <a class="maquina" href="/maquina">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">maquina</text>
                </svg>
            </a>
        </div>

        <div class="funcionario-container">
            <a class="funcionario" href="/funcionario">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">funcionario</text>
                </svg>
            </a>
        </div>

        <div class="precipitacao-container">
            <a class="precipitacao" href="/precipitacao">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">precipitacao</text>
                </svg>
            </a>
        </div>

        <div class="veiculos-container">
            <a class="veiculos" href="/veiculos">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">veiculos</text>
                </svg>
            </a>
        </div>

        <div class="agendamento-container">
            <a class="agendamento" href="/agendamento">
                <svg class="classe-svg" width="190" height="190">
                    <circle cx="100" cy="100" r="84" fill="transparent" stroke="#000" stroke-width="2" />
                    <text fill="#000000" font-size="40" font-family="Verdana" x="10" y="110">agendamento</text>
                </svg>
            </a>
        </div>

    </div>
</main>

</html>