.page-menu{/*
    width: 100vw;
    height: 100vh;*/
}

#nav-bar{
    height: 10vh; 
    display: grid;
}


#nav-bar .nav-bar-content {
	display: grid;
    width: 90vw;
    height: 10vh;
    align-items: center;
    
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}



.nav-bar-content img{
    display: block;
    width: 200px;
}

.nav-bar-content .nav-bar-title{
    display: flex;
    justify-content: center;
}

.nav-bar-content *{
}

.container-menu{
    align-items: center;
    min-height: 100vh;
    min-width: 90vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:'left-top middle-top right-top'
                        'left-center middle-center left-center'
                        'left-bottom middle-bottom left-bottom'
                        'nothing nothing nothing';
    grid-gap:50px; 
}

.container-menu *{
    display: block;
    margin: auto;   
}

.area-container{
    grid-area: 'left-top';
}
.safra-container{
    grid-area: 'middle-top';
}

.operacao-container{
    grid-area: 'right-top';
}
.ocorrencia-container{
    grid-area: 'left-center';
}
.maquina-container{
    grid-area: 'middle-center';
}
.funcionario-container{
    grid-area: 'right-center';
}
.precipitacao-container{
    grid-area: 'left-bottom';
}
.veiculos-container{
    grid-area: 'middle-bottom';
}
.agendamento-container{
    grid-area: 'right-bottom';
}
